body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('assets/5_background/abstract-4582133_1280.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    background-repeat: no-repeat;
}

.maincontent {
    position: relative;
}

.spiegeln {
    transform: scaleX(-1);
}

h1 {
    text-align: center;
    font-size: 48px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
    letter-spacing: 3px;
    font-family: 'comic', Arial, Helvetica, sans-serif;
}

.comic{
    font-family: 'comic', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.canvas {
    position: relative;
    background-color: black;
    z-index: -1;
}

.overlay {
    display: block;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.container {
    width: 720px;
    height: 98vh;
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 80px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 80px;
    right: 16px;
}

.centered {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iconBar {
    position: absolute;
    top: 0;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-top: 20px;
    z-index: 1;
    img {
        height: 24px;
    }
    img:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.iconBarMobile {
    display: none;
    position: absolute;
    bottom: 0;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;
    z-index: 1;
    img {
        height: 24px;
    }
    img:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.hover:hover {
    cursor: pointer;
    font-size: 72;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
    color: black;
}

#game-over {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-image: url('assets/5_background/abstract-4582133_1280.jpg');
    background-position: center;
}

.img-won {
    width: 100vw;
    height: 100vh;
}

#game-won {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-image: url('assets/5_background/abstract-4582133_1280.jpg');
    background-position: center;
}

.center {
    text-align: center;
}

#deviceNotice {
    background-image: url('assets/5_background/abstract-4582133_1280.jpg');
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    display: none;
    img {
        height: 120px;
    }
    span {
        font-size: 34px;
    }
}

@font-face {
    font-family: 'comic';
    src: url('assets/fonts/Fontcomic.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media (orientation: portrait) and (max-width: 480px) {

    /* orientation: portrait-> Regel die gilt wenn das GerÃ¤t in 
    Hochformat gehalten wird (Portrait)*/
    #deviceNotice {
        display: flex;
        width: 100vw;
    }
    canvas {
        display: none;
    }
    .maincontent {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
 
}

@media (max-height: 480px) {
    h1 {
        display: none;
    }

  
}


